<main class="d-flex justify-content-center align-items-center">
  <div class="container">
    <div class="brand-logo"></div>
    <div class="brand-title">S'authentifier</div>
    <div class="inputs">
      <label>EMAIL</label>
      <input type="email" placeholder="example@test.com" [(ngModel)]="email" />
      <label>Mot de passe</label>
      <input type="password" placeholder="Min 6 charaters long" [(ngModel)]="motDePasse" />
      <button type="submit" (click)="login()">Connexion</button>
    </div>
  </div>
</main>
