<div class="container mt-5 mb-5">
  <!-- Button modal Ajouter-->
  <div class="d-flex justify-content-evenly">

    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#ajouterModal">
      Ajouter Produit
    </button>
    <button type="button" class="btn btn-danger" (click)="logout()" >
      Déconnexion
    </button>
  </div>
<div class="form-floating mb-3 w-50 mt-4 m-auto">
  <input
    type="email"
    class="form-control"
    id="floatingInput"
    [(ngModel)]="search"
    (input)="getSearch()"
  />
  <label for="floatingInput">Search Articles</label>
</div>
  <!-- l'affichage des produits -->
  <div class="row row-cols-1 row-cols-md-3 g-4 mt-5">
    <div class="col" *ngFor="let produit of getArticlesPage()">
      <div class="card shadow" id="card">
        <img src="{{ produit.image }}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{ produit.nom }}</h5>
          <p class="card-text" id="description">{{ produit.description }}</p>
        </div>
        <div class="d-flex justify-content-evenly p-3">
          <i class='bi bi-eye btn btn-primary' data-bs-toggle="modal" data-bs-target="#voirDetail"
            (click)="getProduit(produit.id ?? 0)"></i>
          <i class='bx bxs-edit btn btn-warning text-white' data-bs-toggle="modal" data-bs-target="#modifierModal"
            (click)="getProduit(produit.id ?? 0)"></i>
          <i class='bx bxs-trash btn btn-danger' (click)="deleteProduit(produit.id ?? 0)"></i>
        </div>
      </div>
    </div>
  </div>


  <!-- pour la pagination -->
<div class="d-flex justify-content-center my-5">
  <button class="btn btnColor me-2" [disabled]="pageActuelle === 1" (click)="pageActuelle = pageActuelle - 1">
    Précédent
  </button>
  <button class="btn btnColor ms-2" *ngFor="let page of pages" (click)="pageActuelle = page">
    {{ page }}
  </button>
  <button class="btn btnColor ms-2" [disabled]="pageActuelle === totalPages" (click)="pageActuelle = pageActuelle + 1">
    Suivant
  </button>
</div>
  <!-- Modal ajouter-->
  <div class="modal fade" id="ajouterModal" tabindex="-1" aria-labelledby="ajouterModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="ajouterModalLabel">Ajouter produit</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form>
            <div class="mb-3">
              <label for="nomProduitToAdd" class="form-label">Nom produit</label>
              <input type="text" class="form-control" id="nomProduitToAdd" aria-describedby="nomProduitToAdd"
                name="nomProduitToAdd" [(ngModel)]="nomProduitToAdd">
            </div>
            <div class="mb-3">
              <label for="descriptionProduitToAdd" class="form-label">Description</label>
              <textarea type="text" class="form-control" id="descriptionProduitToAdd"
                aria-describedby="descriptionProduitToAdd" name="descriptionProduitToAdd"
                [(ngModel)]="descriptionProduitToAdd"></textarea>
            </div>
            <div class="mb-3">
              <label for="prixToAdd" class="form-label">Prix</label>
              <input type="number" class="form-control" id="prixToAdd" aria-describedby="prixToAdd" name="prixToAdd"
                [(ngModel)]="prixToAdd">
            </div>
            <div class="mb-3">
              <label for="imageToAdd" class="form-label">Image</label>
              <input type="text" class="form-control" id="imageToAdd" aria-describedby="imageToAdd" name="imageToAdd"
                [(ngModel)]="imageToAdd">
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
          <button type="button" class="btn btn-warning text-white" data-bs-dismiss="modal"
            (click)="addProduit()">Ajouter</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal Modifier-->
  <div class="modal fade" id="modifierModal" tabindex="-1" aria-labelledby="modifierModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="modifierModalLabel">Moodfier produit</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form>
            <div class="mb-3">
              <label for="nomProduitToUpdate" class="form-label">Nom produit</label>
              <input type="text" class="form-control" id="nomProduitToUpdate" aria-describedby="nomProduitToUpdate"
                name="nomProduitToUpdate" [(ngModel)]="nomProduitToUpdate">
            </div>
            <div class="mb-3">
              <label for="descriptionProduitToUpdate" class="form-label">Description</label>
              <textarea type="text" class="form-control" id="descriptionProduitToUpdate"
                aria-describedby="descriptionProduitToUpdate" name="descriptionProduitToUpdate"
                [(ngModel)]="descriptionProduitToUpdate"></textarea>
            </div>
            <div class="mb-3">
              <label for="prixToUpdate" class="form-label">Prix</label>
              <input type="number" class="form-control" id="prixToUpdate" aria-describedby="prixToUpdate"
                name="prixToUpdate" [(ngModel)]="prixToUpdate">
            </div>
            <div class="mb-3">
              <label for="imageToUpdate" class="form-label">Image</label>
              <input type="text" class="form-control" id="imageToUpdate" aria-describedby="imageToUpdate"
                name="imageToUpdate" [(ngModel)]="imageToUpdate">
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
          <button type="button" class="btn btn-warning text-white" data-bs-dismiss="modal"
            (click)="updateProduit()">Modifier</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal voir detail-->
  <div class="modal fade" id="voirDetail" tabindex="-1" aria-labelledby="voirDetailLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="voirDetailLabel">Détail produit</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="row">
            <!-- Colonne de gauche (image) -->
            <div class="col-md-6">
              <img src="{{ currentProduit.image }}" alt="Image du produit" class="img-fluid">
            </div>
            <!-- Colonne de droite (informations) -->
            <div class="col-md-6">
              <p>{{ currentProduit.prix }} Fcfa</p>
              <p>{{ currentProduit.nom }}</p>
              <p>{{ currentProduit.description }}</p>
              <!-- Ajouter d'autres informations supplémentaires ici -->
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
        </div>
      </div>
    </div>
  </div>

</div>
