<div class="container mt-5">
  <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Ajouter Produit
</button>



<div class="row row-cols-1 row-cols-md-3 g-4 mt-5">
  <div class="col" *ngFor="let produit of produits">
    <div class="card shadow" id="card">
      <img src="{{ produit.image }}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{ produit.nom }}</h5>
        <p class="card-text" id="description">{{ produit.description }}</p>
      </div>
      <div class="d-flex justify-content-evenly p-3">
        <i class='bx bxs-edit btn btn-primary'></i>
        <i class='bx bxs-edit btn btn-warning'></i>
        <i class='bx bxs-edit btn btn-danger'></i>
      </div>
    </div>
  </div>
</div>




<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

</div>
